@model ArticleFormModel

<link href="~/css/create.css" rel="stylesheet">

<h3>Create Article</h3>

<div class="container">
    <form asp-action="Create" asp-controller="Articles" method="post">

        <label asp-for="@Model.Title">Title</label>
        <input asp-for="@Model.Title" type="text" id="fname" placeholder="Article Title">

        <label asp-for="@Model.Description">Description</label>
        <textarea asp-for="@Model.Description" id="subject" placeholder="Article Description" style="height:200px"></textarea>

        <input type="submit" value="Submit">
    </form>
</div>