@using Microsoft.AspNetCore.Identity
@model IEnumerable<ArticleDisplayModel>
@inject SignInManager<User> signInManager

<div id="latest-post">
    <img src="images/img04.jpg" alt="" width="140" height="165" class="right" />
    <h1>Welcome to Our Website!</h1>
    <p><strong>My Blog</strong> is a simple blog website created using ASP.NET CORE MVC.</p>
</div>
<div id="content">
    @foreach (var articleDisplay in Model)
    {
        <div class="post">
            <h2 class="title"><a href="#">@articleDisplay.Title</a></h2>
            <p class="byline"><small>Author: @articleDisplay.Author </small></p>
            @if ((signInManager.IsSignedIn(User) && (await signInManager.UserManager.FindByNameAsync(articleDisplay.Author)).UserName == User.Identity.Name))
            {
                <p class="links"><a asp-action="Delete" asp-controller="Articles" asp-route-id="@articleDisplay.Id" class="more">Delete</a></p>
            }
        </div>
    }
</div>
<div id="sidebar">
    <ul>
        <li>
            <h2>Categories</h2>
            <ul>
                <li><a href="#">Aliquam libero</a></li>
                <li><a href="#">Consectetuer adipiscing elit</a></li>
                <li><a href="#">metus aliquam pellentesque</a></li>
                <li><a href="#">Suspendisse iaculis mauris</a></li>
                <li><a href="#">Urnanet non molestie semper</a></li>
                <li><a href="#">Proin gravida orci porttitor</a></li>
            </ul>
        </li>
        <li>
            <h2>Archives</h2>
            <ul>
                <li><a href="#">September</a> (23)</li>
                <li><a href="#">August</a> (31)</li>
                <li><a href="#">July</a> (31)</li>
                <li><a href="#">June</a> (30)</li>
                <li><a href="#">May</a> (31)</li>
            </ul>
        </li>
    </ul>
</div>

