@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style>
    #inactiveLink {
   pointer-events: none;
   cursor: default;
}
</style>


@if (SignInManager.IsSignedIn(User))
{
    <li style="float:right">
        <a class="nav-link text-dark" id="inactiveLink">Hello User @UserManager.GetUserName(User)!</a>
    </li>
    <li style="float:right">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Logout">Logout</a>
    </li>
}
else
{
    <li style="float:right">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Register">Register</a>
    </li>
    <li style="float:right">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Login">Login</a>
    </li>
}
