@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-link text-dark" style="float:right">
        <a class="nav-link text-dark">Hello User @UserManager.GetUserName(User)!</a>
    </li>
    <li style="float:right">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Logout">Logout</a>
    </li>
}
else
{
    <li style="float:right">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Register">Register</a>
    </li>
    <li style="float:right">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Login">Login</a>
    </li>
}
